@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    background-color: #121212;
    color: white;
    font-family: var(--font-sans);
  }
}
